<body>
  <a href="/">Main</a>
  <a href="/about/">About me</a>
  <a href="/blog/">Blog</a>
  
  <h1>My blog Astro</h1>
  <h1>About me</h1>
  <h2>and about my new site in Astro!</h2>

  <p>I'm learning introduction Astro. This is a second page in my site, and this is a first which I created independently!</p>

</body>