<body>
    <a href="/">Main</a>
    <a href="/about/">About me</a>
    <a href="/blog/">Blog</a>
  
    <h1>My site in Astro</h1>
    <h1>My blob learning Astro</h1>
    <p>Here I'll write about my travel in learning Astro.</p>
  </body>